<p id="notice"><%= notice %></p>


<h1>My Lists</h1>

<% @lists.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |list| %>
      <div class="col-md-4">
        <%= image_tag list.cover_image_url(:thumb) if list.cover_image.present? %>
        <h4><%= link_to list.title, list %></h4>
        <%= list.description %>
      </div>
    <% end %>
  </div>
<% end %>

<br>

